html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Noto Sans JP", "游ゴシック体", "Yu Gothic", "YuGothic",
    "メイリオ", "Meiryo", verdana, "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic",
    Sans-Serif;
  width: 100%;
  /* display: table-cell;
  vertical-align: middle; */
  /* margin: auto; */
  background: #f8f4e6;
}

header {
  width: 100%;
  height: 100px;
  background: #b6b5b1;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

main {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

​ canvas {
  border: 1px solid #a4cdff;
  height: 380px;
  width: 300px;
}
​ .canvas-container {
  /* margin: auto;
  margin-top: 20px; */
  margin: 20px auto;
}

​ #text-wrapper {
  /* width: 300px; */
  /* margin: auto; */
  background-color: rgb(232, 244, 255);
}

​ .stamp {
  padding: 0.5em 1em;
  margin: 0;
  border: double 5px #bae1f5;
  font-family: "Comic Sans MS";
}
​ .main {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
​ .text {
  /* margin-top: 15px; */
  margin-left: 30px;
  width: 300px;
  background-color: rgb(232, 244, 255);
}
​ .moji {
  padding: 0.5em 1em;
  margin: 0;
  border: double 5px #bae1f5;
  font-family: "Comic Sans MS";
}

​ p {
  margin-top: 20px;
  text-align: center;
}

.toolvar {
  padding-left: 30px;
}

/* 吹き出し */
.fukidashi_com {
  animation-name: fadein;
  animation-duration: 8s;
  animation-iteration-count: 1;
  position: fixed;
  bottom: 230px;
  left: 40px;
  opacity: 0;
}
@keyframes fadein {
  0% {
    opacity: 0;
    /* transform: translateY(20px); */
  }
  30% {
    opacity: 1;
    /* transform: translateY(0); */
  }
  70% {
    opacity: 1;
    /* transform: translateY(0); */
  }
  100% {
    opacity: 0;
    /* transform: translateY(0); */
  }
}

.fukidashi_p {
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  padding: 50px 0;
}

.balloon2-top {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 20px 10px;
  min-width: 150px;
  max-width: 100%;
  color: #001e43;
  font-size: 16px;
  border-top: solid 3px #001e43;
  box-sizing: border-box;
}

.balloon2-top:before {
  content: "";
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-bottom: 12px solid #f8f4e6;
  z-index: 2;
}

.balloon2-top:after {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-bottom: 14px solid #001e43;
  z-index: 1;
}

.balloon2-top p {
  margin: 0;
  padding: 0;
}

/* ツールバー  */

.toolvar {
  margin-top: 30px;
}
.f_tool_var {
  display: flex;
}

.s_tool_var {
  display: flex;
}
.icon_img {
  width: 25px;
  height: 25px;
  padding: 10px;
  opacity: 1;
}

.icon_img:hover {
  opacity: 0.7;
}

label {
  font-size: 13px;
}

#t-bgColor {
  background: #001e43;
}

.fk {
  position: relative;
}

/* ファイルアップロードボタン */
.originalFileBtn {
  margin: 10px 5px;
  padding: 10px;
  font-size: 12px;
  border-radius: 4px;
  max-width: 130px;
  text-align: center;
  color: #001e43;
  border: 2px solid #001e43;
  cursor: pointer;
}

#color-palette {
  margin: 10px 0;
}

.stamp_container {
  position: fixed;
  top: 155px;
  left: 950px;
  width: 300px;
  background: #fff;
}

#stamp_btn1 {
  padding: 20px 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #c7c7c7;
  height: 2px;
  width: 80%;
  margin: 20px 0;
}

input[type="range"] ::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  border: none;

  width: 12px;
  height: 12px;
  display: block;
  background-color: #001e43;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.select_font {
  overflow: hidden;
  width: 80%;
  margin: 10px 0;
  text-align: center;
}
.select_font select {
  width: 80%;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.select_font select::-ms-expand {
  display: none;
}
.select_font.cp_sl01 {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
}
.select_font.cp_sl01::before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}
.select_font.cp_sl01 select {
  padding: 8px 38px 8px 8px;
  color: #666666;
}

.l_tool_container {
  display: flex;
}

.l_icon {
  padding: 10px 5px;
}
.originalFileBtn:hover {
  background: #001e43;
  color: #fff;
}
#download {
  margin-top: 9px;
  height: 37px;
  padding: 8px 8px;
  font-size: 12px;
  border-radius: 4px;
  max-width: 130px;
  text-align: center;
  background: #001e43;
  color: #fff;
  border: 2px solid #001e43;
  cursor: pointer;
}

#download:hover {
  color: #001e43;
  background: #f8f4e6;
}

/* 確認画面のモーダル */
.modal_masc {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #696969;
  opacity: 0.8;
  z-index: 7000;
}

#modal {
  position: fixed;
  width: 40%;
  height: 470px;
  top: 80px;
  left: 30%;
  right: 30%;
  background: #fff;
  z-index: 8000;
  box-shadow: 1px 1px 4px #b6b5b1;
}

.conf_title {
  margin: 20px auto;
  text-align: center;
  font-size: 15px;
}

.conf_contents {
  margin: 10 auto;
}

.conf_img_container {
  text-align: center;
}

.conf_btn {
  text-align: center;
}

input[type="submit"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px 30px;
  background: #001e43;
  border: 2px solid #001e43;
  color: #fff;
  font-size: 15px;
  margin: 20px;
  border-radius: 4px;
}

.submit_btn:hover {
  background: #fff;
  color: #001e43;
}

.rewrite {
  cursor: pointer;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
}

.submit_btn:hover {
}
/* 確認画面のモーダル */
.hidden {
  display: none;
}

/*  吹き出しの表示切替*/
.none {
  display: none;
}

#preComa {
  position: absolute;
  top: 0;
  left: 0;
  /* visibility: hidden; */
}

.light-cover {
  background-color: #f8f4e7; /*背景色の変更*/
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  position: relative;
  width: 302px;
  height: 302px;
  margin-right: 60px;
  z-index: 1000;
}
.light-cover:hover {
  color: #fff;
}

/* ボタンを光らせる */
.light-cover:before {
  /*光るアニメーション用*/
  animation: shine 1s ease-in-out infinite; /*数字を変更することで光る間隔が変更*/
  background-color: #fff;
  content: " ";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: -180px;
  transform: rotate(45deg);
  width: 30px;
}

@keyframes shine {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

/* 使用中のツールの色を変える */
.use_now {
  opacity: 0.5;
}
