.form-group{
   color: linear-gradient(150deg, #0c032b, rgb(204, 204, 204));;

}

body{
   background: linear-gradient(150deg, #0c032b, rgb(204, 204, 204));
}

.container{
   display:flex;
   width: max-content;
}

.row{
   padding-left:20px;

}

.panel-default{
   width: 500px;
   height: 50vh;
   /* display:none; */
   background: linear-gradient(150deg, #0c032b, rgb(204, 204, 204));
}





.panel{
   background-color:rgb(213, 214, 210);
   }


.start{

      animation-name:fade-in3;
      animation-duration:2s; 
      animation-timing-function: ease-out;
      animation-delay:1s; 
      animation-iteration-count:1;
      animation-direction:normal;
      animation-fill-mode: forwards; 
   }

   @keyframes fade-in3 {
      0% {opacity: 0; transform: translate3d(0,20px,0);}
      100% {opacity: 1; transform: translate3d(0,0,0);}

   }

   .start{
      font-size: 14px;
      color:whitesmoke;
      text-align: left;
      width:450px;
      
   }

   .title{
      font-weight: bold;
      font-size:20px;
      margin-bottom:20px;
   }

   .first{
      margin:10px 10px;
   }

   .second{
      margin:10px 10px;

   }
   
   .second2{
      margin:10px 10px;

   }


   .third{
      margin:15px 15px;
   }

   .forth{
      margin:15px 15px;
   }

   .fifth{
      margin:15px 15px;

   }

   .six{
      margin:20px;
      font-size:20px;
   }

   /* .start {
      background: #FFF;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      z-index: 9000; */
   /* } */
   .inner{
      width: 50%;
      margin: 0 auto;
      display: none;
   }
   .start p {
      /* position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: none;
      z-index: 9999;
      width: 280px; */
   }


   .btn-link{
      color:whitesmoke;
   }

   .control-label{
      color:whitesmoke;
   }
