body {
  background: #f8f4e6;
  height: max-content;
  color: #001e43;
}

/* header */
.navbar-default {
  background-color: #f8f4e6;
  border: none;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-text {
  color: #001e43;
}

/* .navbar-nav > li > a:hover {
  color: #dbdf12;
  border-bottom: 2px solid #001e43;
} */

.nav > li,
.nav > li > a {
  position: fixed;
  right: 60px;
}

.account_btn {
  position: fixed;
  padding-bottom: 10px;
  right: 60px;
}

.account_btn:hover {
  color: #dbdf12;
  border-bottom: 2px solid #001e43;
}

.container {
  display: flex;
  width: max-content;
}

.row {
  padding-left: 20px;
}

/* サービス説明 */

.start {
  text-align: center;
  animation-name: fade-in3;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  font-size: 14px;
  color: #001e43;
  /* text-align: left; */
  width: 450px;
}

/* @keyframes fade-in3 {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
} */
.start_content {
  margin-top: 100px;
  /* display: inline-block; */
  /* vertical-align: middle; */
}

.title {
  font-weight: bold;
  font-size: 20px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.first {
  margin: 10px 20px;
}

.second {
  margin: 10px 10px;
}

.second2 {
  margin: 10px 10px;
}

.third {
  margin: 15px 15px;
}

.forth {
  margin: 15px 15px;
}

.fifth {
  margin: 15px 15px;
}

.six {
  margin: 20px;
  font-size: 20px;
}

.inner {
  width: 50%;
  margin: 0 auto;
  display: none;
}

/* .start p {
  position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: none;
      z-index: 9999;
      width: 280px;
} */

/* ログインフォーム */

.panel-default {
  width: 500px;
  height: 50vh;
  border: none;
  margin-top: 100px;
}

.panel {
  margin-bottom: 22px;
  background-color: #fff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  text-align: center;
  border: none;
  font-weight: bolder;
  font-size: 20px;
  color: #001e43;
}

.panel-default > .panel-heading {
  color: #001e43;
}

.btn-primary {
  font-family: "Yu Gothic", YuGothic, Verdana, "Hiragino Kaku Gothic ProN",
    "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,
    sans-serif;
  text-align: center;
  padding-top: 40px;
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #001e43;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 25px;
  margin-bottom: 20px;
  border-radius: 4px;
  transition: 0.4s;
  background-color: #001e43;
}

.btn-primary:hover {
  background-color: #dbdf12;
  border-color: #dbdf12;
  color: #fff;
}

.btn-link {
  color: #001e43;
  padding-bottom: 10px;
  width: 200px;
  display: block;
  margin: 20px auto 0;
}

.btn-link:hover {
  color: #001e43;
  text-decoration: none;
  border-bottom: 2px solid #001e43;
}

/* レジスター用css */
.form_container {
  margin: 0 auto;
}
