body,
html {
  width: 100%;
  font-family: sans-serif;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.zoom_container {
  position: fixed;
  top: 120px;
  left: 40px;
  z-index: 6000;
}

#comaCount {
  padding-bottom: 20px;
}

.zoomicon {
  width: 40px;
  height: 40px;
}

#zoomIn,
#zoomOut {
  opacity: 0.5;
}
#zoomIn:hover,
#zoomOut:hover {
  opacity: 1;
}

.main_container {
  display: flex;
}

.story_container {
  width: 500px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f4e6;
}

.content {
  width: 280px;
}

.content_title {
  text-align: center;
  margin: 10px;
}

.form_flex {
  display: flex;
}
#download {
  height: 14px;
  margin-left: 5px;
  padding: 5px 10px;
  background: #001e43;
  color: #fff;
  font-size: 10px;
  border: 2px solid #001e43;
  border-radius: 4px;
}

#download:hover {
  background: #ffffff;
  color: #001e43;
}

/* モーダル */
/* 確認画面のモーダル */
.modal_masc {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #696969;
  opacity: 0.8;
  z-index: 7000;
}

#modal {
  position: fixed;
  width: 40%;
  height: 700px;
  top: 50px;
  left: 30%;
  right: 30%;
  background: #fff;
  z-index: 8000;
  box-shadow: 1px 1px 4px #b6b5b1;
}

.conf_title {
  margin: 30px auto 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.conf_title2 {
  margin: 5px auto;
  text-align: center;
  font-size: 15px;
}

.conf_contents {
  margin: 10 auto;
}

.title_container {
  margin-top: 20px;
}
.cof_calm {
  margin-top: 20px;
  font-size: 15px;
}

input[type="text"] {
  border: 0;
  padding: 5px 10px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  color: #000;
  border: solid 1px #000;
  margin: 0 0 10px;
  width: 65%;
}

#titleData {
  width: 300px;
}

.conf_img_container {
  text-align: center;
}

.conf_btn {
  text-align: center;
}

input[type="submit"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px 30px;
  background: #001e43;
  border: 2px solid #001e43;
  color: #fff;
  font-size: 15px;
  margin: 20px;
  border-radius: 4px;
}

::placeholder {
  font-size: 8px;
}

.submit_btn:hover {
  background: #fff;
  color: #001e43;
}

.rewrite {
  cursor: pointer;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
}
/* 確認画面のモーダル */
.hidden {
  display: none;
}
